@charset "UTF-8";

.myhidden {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    white-space: nowrap;
    clip:rect(0,0,0,0); /*요소를 잘라서 시각적으로 완전히 숨김 - 구형 브라우저 호환*/
}

#demo {
    height: 400px;
    overflow: hidden;
    margin-bottom: 5%;
}
#demo img {
    object-fit: cover;
}
/* h3 {
    text-align: center;
    margin: auto;
    padding: 3em 0;
    font-size: 40px;
    text-decoration-line: underline;
} */
h4 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}